@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Design system styles */

:root {
  --soft-red: hsl(14, 88%, 65%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --background-gradient: linear-gradient(
    180deg,
    hsla(273, 75%, 66%, 1) 0%,
    hsla(240, 74%, 65%, 1) 100%
  );
}

body {
  background: var(--background-gradient);
  font-family: 'Kumbh Sans', 'sans-serif';
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 9.25rem 1.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  position: relative;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.card-container {
  padding: 8.25rem 1.5rem 3rem 1.5rem;
  background-color: #fff;
  border-radius: 1.4375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-hero-picture {
  position: absolute;
  top: -107px;
  left: 0px;
  width: 100%;
}

.card-hero-picture img {
  width: 72.5%;
  margin: 0 auto;
}

.box-image {
  display: none;
}

.card-heading {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--very-dark-desaturated-blue);
}

.questions-list {
  margin-top: clamp(2.375rem, 0.47vw + 2.26rem, 2.6875rem);
  list-style-type: none;
  min-width: 15.625rem;
  max-width: 21.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
}

.accordion-item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding-bottom: 1rem;
  width: clamp(17.4375rem, 10.94vw + 14.87rem, 21.875rem);
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question {
  font-size: clamp(0.8125rem, 0.09vw + 0.79rem, 0.875rem);
  line-height: clamp(1rem, 0.09vw + 0.98rem, 1.0625rem);
  font-weight: 400;
  transition: font-weight ease 0.2s;
}

.question:hover {
  color: var(--soft-red);
}

.accordion-button[aria-expanded='true'] .question {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.icon-arrow {
  width: 0.5rem;
  height: 0.25rem;
  transition: transform ease-in-out 0.3s;
}

.accordion-button[aria-expanded='true'] .icon-arrow {
  transform: rotateX(180deg);
}

.answer {
  margin-top: 0px;
  color: var(--dark-grayish-blue);
  max-height: 0;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 1.125rem;
  transition: all ease 0.5s;
}

.answer.show {
  max-height: 10rem;
  margin-top: 0.75rem;
}

.attribution {
  position: absolute;
  font-family: 'Montserrat', 'sans-serif';
  flex: none;
  padding: 0.625rem;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: var(--very-dark-blue-main-bg);
}

.attribution a,
.attribution a:visited {
  text-decoration: underline;
  color: var(--very-dark-blue-main-bg);
}

.attribution a:hover {
  font-weight: 500;
}

@media (min-width: 48rem) {
}

@media (min-width: 78rem) {
}
