@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Design system styles */

:root {
  --soft-red: hsl(14, 88%, 65%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --background-gradient: linear-gradient(
    180deg,
    hsla(273, 75%, 66%, 1) 0%,
    hsla(240, 74%, 65%, 1) 100%
  );
}

body {
  background: var(--background-gradient);
  font-family: 'Kumbh Sans', 'sans-serif';
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--very-dark-desaturated-blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 9rem 1.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  position: relative;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.card-container {
  background-color: #fff;
  border-radius: 1.4375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-picture-container {
  position: relative;
  width: 73.4%;
  height: clamp(104px, 11.11vw + 3.9rem, 129px);
}

.hero-picture {
  position: absolute;
  top: calc(-1 * clamp(108px, 11.11vw + 4.15rem, 133px));
  z-index: 0;
}

.hero-picture img {
  width: 100%;
}

.hero-picture::after {
  content: '';
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: clamp(108px, 11.11vw + 4.15rem, 133px);
  z-index: -1;
}

.box-picture {
  display: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.card-heading {
  margin-top: 1.75rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.questions-list {
  margin-top: clamp(38px, 2.22vw + 1.85rem, 43px);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  padding: 0 1.5rem;
}

.accordion-item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding-bottom: 1rem;
  width: clamp(279px, 31.56vw + 10.04rem, 350px);
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question {
  font-size: clamp(13px, 0.44vw + 0.71rem, 14px);
  line-height: clamp(16px, 0.44vw + 0.9rem, 17px);
  font-weight: 400;
  transition: font-weight ease 0.2s;
}

.question:hover {
  color: var(--soft-red);
}

.accordion-button[aria-expanded='true'] .question {
  font-weight: 700;
}

.accordion-button[aria-expanded='true'] .icon-arrow {
  transition: transform ease-in-out 0.3s;
  transform: rotateX(180deg);
}

.accordion-panel {
  padding-right: 1rem;
}

.answer {
  color: var(--dark-grayish-blue);
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}

.answer.show {
  max-height: 10rem;
  margin-top: 0.75rem;
}

.attribution {
  position: absolute;
  font-family: 'Montserrat', 'sans-serif';
  padding: 0.625rem;
  bottom: 0px;
  color: var(--light-grayish-blue);
}

.attribution a,
.attribution a:visited {
  text-decoration: underline;
  color: var(--light-grayish-blue);
}

.attribution a:hover {
  font-weight: 500;
}

@media (min-width: 48rem) {
  main {
    position: relative;
  }

  .card-container {
    flex-direction: row;
    width: clamp(40.875rem, 39.58vw + 21.88rem, 57.5rem);
    min-height: calc(17.71vw + 15.88rem);
    overflow: hidden;
    position: static;
  }

  .hero-picture-container {
    flex: 475;
    position: static;
    align-self: stretch;
    height: auto;
    display: flex;
  }

  .hero-picture {
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: -17.68%;
    position: relative;
  }

  .hero-picture::after {
    background-image: url('../images/bg-pattern-desktop.svg');
    right: 0;
    top: -100%;
    width: 204%;
    height: 263%;
  }

  .box-picture-container {
    position: absolute;
    display: flex;
  }

  .box-picture {
    width: clamp(7.375rem, 10.86vw + 2.16rem, 11.9375rem);
    height: clamp(7.125rem, 10.42vw + 2.13rem, 11.5rem);
    transform: translateX(-50%) translateY(25%);
    display: block;
  }

  .text-container {
    flex: 445;
    align-items: flex-start;
    margin: clamp(1.75rem, 5.51vw + -0.89rem, 4.0625rem) 0;
    padding: 0;
  }

  .card-heading {
    margin-top: 0;
  }

  .questions-list {
    margin-top: clamp(38px, 0.6vw + 2.15rem, 43px);
    padding: 0;
  }

  .accordion-item {
    width: clamp(279px, 8.45vw + 14.27rem, 350px);
  }

  .question {
    font-size: clamp(13px, 0.12vw + 0.77rem, 14px);
    line-height: clamp(16px, 0.12vw + 0.96rem, 17px);
  }
}
